@import "variables";

* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: $black;
    overflow-x: hidden;
}

header{
    background-color: $dark-grey;
    width: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;

    a{
        background-color: $dark-grey;
        padding: 1rem;
        border-radius: 4px;
        color: $white;
        text-decoration: none;
        transition: all 0.3s ease;

        &:hover{
            background-color: $light-grey;
        }
    }
}